// Fuentes

$fuentePrincipal: "Lato", sans-serif;
$fuenteCursiva: "Italianno", sans-serif;

// Tamaño Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #2ed9f1;
$secundario: #ee5adf;
$negro: #000000;
$blanco: #ffffff;
$gris: #979797;
$grisClaro: #f8f8f8;
